<template name="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">RaceStory <small><small><small>{{gitRev 'tag'}} {{AppVersion}}</small></small></small></a>
            <p class="navbar-text">
              {{#if serialPortStatus}}
                  <a href="#" id="spStatus" style="margin-top:2px; color:green;" title="{{serialPortName}}" class="btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                  </a>
              {{else}}
                  <a href="#" id="spStatus" style="margin-top:2px; color:red;" title="{{serialPortName}}" class="btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                  </a>
              {{/if}}
              : {{usersCount}}
          </p>
        </div>
        <div class="navbar-collapse collapse" id="navbar1">
            <ul class="nav navbar-nav">
                {{#if isAdminUser}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Админка <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/race_list">Настройка заездов</a></li>
                        <li><a href="/accountsAdmin/">Акаунты</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/settings">Настройки</a></li>
                    </ul>
                </li>
                {{else}}
                {{/if}}
                <li><a href="/race">ЗаезД</a></li>
                <li><a href="#" data-toggle="modal" data-target="#consoleModal">Консоль</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons }}
            </ul>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="consoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Консоль</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-control" style="height:100px; overflow:auto; padding:10px;">
                            {{#each consoleData}}{{data}}<br/>{{/each}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                        <button type="button" class="btn btn-primary col-sm-2" id="addRacerBtn">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
