<template name="accountsAdmin">
    <div class="row accounts-search">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-6 col-md-6 col-lg-offset-8 col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control search-input-filter" value="{{searchFilter}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    <button class="btn btn-default" type="button" data-toggle="modal" href="#updateroles">Настройка Ролей</button>
                </span>
            </div>
        </div>
    </div>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th></th>
                <th>Логин</th>
                <th>Email</th>
                <th>Роли</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr class="{{#if myself _id}}info{{/if}}">
                    <td>
                        {{#unless myself _id}}
                            <span data-toggle="modal" href="#deleteaccount" class="glyphicon glyphicon-trash clickable"></span>
                            <span data-toggle="modal" href="#updateaccount" class="glyphicon glyphicon-pencil clickable"></span>
                            <span data-toggle="modal" href="#infoaccount" class="glyphicon glyphicon-info-sign clickable"></span>
                        {{/unless}}
                    </td>
                    <td>
                        {{#if username}}
                            {{username}}
                        {{else}}
                            {{email}}
                        {{/if}}
                    </td>
                    <td>{{email}}</td>
                    <td>{{roles}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{> updateRolesModal}}
    {{> deleteAccountModal}}
    {{> infoAccountModal}}
    {{> updateAccountModal}}
</template>