<template name="infoAccountModal">
	<div id="infoaccount" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				{{> infoAccountModalInner}}
			</div>
		</div>
	</div>
</template>

<template name="infoAccountModalInner">
	<div class="modal-header">
		<h4>Информация о пользователе</h4>
	</div>
	{{#with userInScope}}
	 	<div class="modal-body">
			<ul class="list-group">
				<li class="list-group-item"><strong>Name</strong>
					<span class="pull-right">
						{{#if username}}
							{{username}}
						{{else}}
							{{email}}
						{{/if}}
					</span>
				</li>
				<li class="list-group-item"><strong>Email</strong><span class="pull-right">{{email}}</span></li>
				<li class="list-group-item"><strong>ID</strong><span class="pull-right">{{_id}}</span></li>
				{{#each rolePairs}}
					<li class="list-group-item"><strong>{{key}}</strong><span class="pull-right">{{value}}</span></li>
				{{/each}}
			</ul>
	 	</div>
	 	<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
		</div>
	{{/with}}
</template>