<template name="updateRolesModal">
	<div id="updateroles" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				{{> updateRolesModalInner}}
			</div>
		</div>
	</div>
</template>

<template name="updateRolesModalInner">
	<div class="modal-header">
		<h4>Обновить Роли</h4>
	</div>
 	<div class="modal-body">
 		<ul class="list-group">
			{{#each roles}}
				{{#if adminRole}}
					<li class="list-group-item">
						<em>Admin Role</em>
						<span class="pull-right">{{this.name}}</span>
					</li>
				{{else}}
					<li class="list-group-item">
						<button class="btn btn-danger btn-xs remove-role" type="button">Удалить</button>
						<span class="pull-right">{{this.name}}</span>
					</li>
				{{/if}}
			{{/each}}
		</ul>
		<div class="input-group">
			<input type="text" class="form-control add-role-input" value="">
			<span class="input-group-btn">
				<button class="btn btn-success add-role disabled" type="button"><span class="glyphicon glyphicon-plus"></span> Создать роль</button>
			</span>
		</div>
 	</div>
 	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-primary">Готово</button>
	</div>
</template>
