<template name="updateAccountModal">
	<div id="updateaccount" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				{{> updateAccountModalInner}}
			</div>
		</div>
	</div>
</template>

<template name="updateAccountModalInner">
	{{#with userInScope}}
		<div class="modal-header">
			<h4>Изменить {{email}}</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">Логин</span>
					<input data-user-id="{{_id}}" class="form-control admin-user-info" name="username" value="{{username}}" placeholder="{{email}}">
				</div>
			</div>
			{{#if roles}}
				<ul class="list-group">
					{{#each roles}}
						<li class="list-group-item">
							<button data-user-id="{{../_id}}" class="btn btn-danger btn-xs remove-role" type="button">Удалить</button>
							<span class="pull-right">{{this}}</span>
						</li>
					{{/each}}
				</ul>
			{{else}}
				У пользователя нет ролей
			{{/if}}
			{{#if unsetRoles}}
			<div class="btn-group clearfix full-width">
				<button type="button" class="btn btn-success dropdown-toggle pull-right" data-toggle="dropdown">
					<span class="glyphicon glyphicon-plus"></span> Добавить Роль
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					{{#each unsetRoles}}
						<li><a href="#" class="add-role" data-user-id="{{../_id}}">{{this}}</a></li>
					{{/each}}
				</ul>
			</div>
			{{else}}
			<em>All roles already set.</em>
			{{/if}}
		</div>
		<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-primary">Готово</button>
		</div>
	{{/with}}
</template>
