<template name="race">

    {{#if activeRace}}
    <blockquote>
        <p>{{curRace.raceName}}</p>
    </blockquote>
    {{else}}
    <blockquote>
        <p>Нет активной гонки на данный момент</p>
    </blockquote>
    {{/if}}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Фильтр</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сессия 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Сессия 1</a></li>
                <li><a href="#">Сессия 2</a></li>
                <li><a href="#">Сессия 3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Добавить сессию</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Полный привод <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Полный привод</a></li>
                <li><a href="#">Задний привод</a></li>
                <li><a href="#">Передний привод</a></li>
                <li><a href="#">Все</a></li>
              </ul>
            </li>
          </ul>
          <!--<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>-->
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#" data-toggle="modal" data-target="#addRacerModal">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить участника</a>
            </li>
            <li><a href="#" id="exportXML">Экспорт в Exel</a></li>
            {{#if isAdminUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Доп <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" id="generateDetectLine1">С-П 1</a></li>
                <li><a href="#" id="generateDetectLine2">С-П 2</a></li>
                <li><a href="#" id="clearBtn">Стоп</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" id="clearAllTimesBtn">Очистить время</a></li>
              </ul>
          </li>
          {{/if}}
        </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <table id="testTable" class="table  table-striped table-condensed">
        <thead>
        <tr class="action">
            {{#if isAdminUser}}
            <th class="action">Действие</th>
            {{/if}}
            <th>Позиция</th>
            <th>Номер</th>
            <th class="hidden-xs">Участник</th>
            <th class="hidden-xs">Машина</th>
            <th class="hidden-xs hidden-sm">Класс</th>
            <th>Поп 1</th>
            <th>Поп 2</th>
            <th>Поп 3</th>
            <th>Поп 4</th>
            <th>Поп 5</th>
            <th>Лучшее время</th>
        </tr>
        </thead>
        <tbody>
        {{#each racers}}
        <tr>
            {{#if isAdminUser}}
            <td class="action">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Действие
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" class="startBtn" href="#">Старт</a></li>
                        <li role="presentation"><a role="menuitem" href="#">Рестарт</a></li>
                        <li role="presentation"><a role="menuitem" href="#">Что-то еще</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" class="removeBtn" href="#">Удалить</a></li>
                    </ul>
                </div>
            </td>
            {{/if}}
            <td>{{index}}</td>
            <td>{{racerNumber}}</td>
            <td class="hidden-xs">{{racerSurname}} {{racerName}}</td>
            <td class="hidden-xs">{{racerCar}}</td>
            <td class="hidden-xs hidden-sm">
                {{#if equals racerCarType 'rear'}}
                Задний привод
                {{else}}
                    {{#if equals racerCarType 'front'}}
                    Передний привод
                    {{else}}
                        {{#if equals racerCarType 'all-wheel'}}
                        Полный привод
                        {{else}}
                            Спорт
                        {{/if}}
                    {{/if}}
                {{/if}}
            </td>
            <td>
                {{counter action="t" var="1" }}
            </td>
            <td>
                {{counter action="t" var="2" }}
            </td>
            <td>
                {{counter action="t" var="3" }}
            </td>
            <td>
                {{counter action="t" var="4" }}
            </td>
            <td>
                {{counter action="t" var="5" }}
            </td>
            <td>
                {{counter action="bestTime"}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="addRacerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Добавление участника</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#newRacer" data-toggle="tab">Новый</a></li>
                        <li><a href="#existRacer" data-toggle="tab">Существующий</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="newRacer">
                            <form role="form">
                                <div class="form-group">
                                    <label for="racerSurname">Фамилия</label>
                                    <input type="text" class="form-control" id="racerSurname" placeholder="Введите название">
                                </div>
                                <div class="form-group">
                                    <label for="racerName">Имя</label>
                                    <input type="text" class="form-control" id="racerName" placeholder="Введите название">
                                </div>
                                <div class="form-group">
                                    <label for="racerNumber">Номер</label>
                                    <input type="number" class="form-control" id="racerNumber" placeholder="Введите название">
                                </div>
                                <div class="form-group">
                                    <label for="racerCar">Автомобиль</label>
                                    <input type="text" class="form-control" id="racerCar" placeholder="Введите название">
                                </div>
                                <div class="form-group">
                                    <label for="racerCarType">Класс</label>
                                    <select id="racerCarType" class="form-control">
                                        <option value="rear">Задний привод</option>
                                        <option value="front">Передний привод</option>
                                        <option value="all-wheel">Полный привод</option>
                                        <option value="sport">Спорт</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="existRacer">2</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="addRacerBtn">Добавить</button>
                </div>
            </div>
        </div>
    </div>

</template>
