<template name="raceList">
    List of races
    <a href="/race_create" class="btn btn-default ">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать новый
    </a>
    <table class="table">
        <caption>Optional table caption.</caption>
        <thead>
        <tr>
            <th>Открыть</th>
            <th>Название</th>
            <th>Дата</th>
            <th>Активный</th>
            <th>Тип</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each races}}
        <tr>
            <td>
                <button type="button" class="btn btn-default goBtn">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
            </td>
            <td>{{name}}</td>
            <td>{{formatDate createdAt "long"}}</td>
            <td>
                {{#if equals active true}}
                Да
                {{else}}
                Нет
                {{/if}}
            </td>
            <td>{{conf}}</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default removeBtn">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>
