<template name="raceCreate">
    Create new racre here
    <form role="form">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" id="name" placeholder="Введите название">
        </div>
        <div class="form-group">
            <label for="conf">Конфигурация</label>
            <select id="conf" class="form-control">
                {{#each raceConfigs}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>

        </div>
        <div class="form-group form-horizontal">
            <label for="raceLaps">Количество кругов</label>
            <input type="text" class="form-control" id="raceLaps" placeholder="">
        </div>
        <div class="form-group form-horizontal">
            <label for="raceStart">Старт (пересечение датчика):</label>
            <input type="text" class="form-control" id="raceStart" placeholder="">
        </div>
        <div class="form-group form-horizontal">
            <label for="raceFinish">Финиш (пересечение датчика):</label>
            <input type="text" class="form-control" id="raceFinish" placeholder="">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> Проверить меня
            </label>
        </div>

        <button type="submit" class="btn btn-default" id="saveBtn">Сохранить</button>
        <button type="submit" class="btn btn-default" id="saveStartBtn">Сохранить и начать</button>
    </form>
</template>
