<template name="settings">
  <blockquote>
      <p>Настройки</p>
  </blockquote>
    <form role="form">
        <div class="form-group">
            <label for="serialPort">Ком порт</label>
            <select multiple id="serialPort" class="form-control">
                {{#each serialPortsList}}
                    {{#if selected}}
                    <option value="{{comName}}" selected>{{comName}}</option>
                    {{else}}
                    <option value="{{comName}}">{{comName}}</option>
                    {{/if}}
                {{/each}}
            </select>
            <button type="button" class="btn btn-default" id="refreshBtn" style="margin-top:5px;">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Обновить
            </button>
        </div>

        <button type="submit" class="btn btn-default" id="saveBtn">Сохранить</button>
    </form>
</template>
